<body>
	<p> name: {{ comment.name }} <p> 
	<p> email: {{ comment.email }} <p> 
	<p> comment: {{ comment.comment }} <p> 
	<p> like: {{ comment.like }} <p> 
	<p> published_date: {{ comment.published_date }} <p> 
</body>