{% extends 'pelican/base.html' %}

{% block content %}
    <div class="comment">
        {% if comment.published_date %}
            <div class="date">
                {{ comment.published_date }}
            </div>
        {% endif %}
        <h1>{{ comment.name }}</h1>
        <p>{{ comment.comment|linebreaksbr }}</p>
    </div>
{% endblock %}
