<!-- allow to use action field in tag -->
<!-- <form action="/your-name/" method="post"> -->
<!-- <form method="post"> -->

{% if form.is_multipart %}
	<!-- if form include FileField and ImageField -->
    <form enctype="multipart/form-data" method="post">
{% else %}
	<!-- if form NOT include FileField and ImageField -->
    <form method="post">	
{% endif %}

	<!-- security token -->
    {% csrf_token %}

    <!-- use <p> for each field in form -->
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
