<body>
	Thanks for your comment
	{% for comment in comments %}
		<p>
			{{ comment.name }} said: 
			<!-- create new path $datail_comment/$pk/$name -->
			<a href="{% url 'datail_comment' pk=comment.pk name=comment.name %}">{{ comment.comment }}</a>
			at time: {{ comment.published_date }}
			<a href="{% url 'delete_comment' pk=comment.pk %}">delete this comment</a>
		</p>
	{% endfor %}
</body>